.left-sidebar {
  background: $base-color2;
  border: 1px solid;
  li {
    cursor: pointer;
    z-index: 10;
  }
  li:hover {
    transform: scale(1.2);
  }
}

.recent-transaction a {
  display: block;
  margin: 1rem 0;
}

.tip ul {
  list-style-type: disc;
  margin-left: 1rem;
}
