$bg-yellow: rgba(248, 224, 39, 0.966);
$c-black: rgb(17, 17, 17);
$test: 1px solid;

@media (max-width: 766px) {
  .ptitle {
    margin-top: 0.8rem;
    font-size: 2rem;
  }
}

*,
p {
  color: $c-black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cursor-pointer {
  cursor: pointer;
}

body {
  position: relative;
  width: 100vw;
  overflow-x: hidden;
  background: $bg-yellow;
}

ul {
  list-style-type: none;
}

header {
  color: white;
  padding: 0.5rem;
  padding-bottom: 0.5rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.3rem;
  padding-right: 16.666667% !important;

  .profile-img {
    height: 5.5rem;
    border: 10px solid !important;
    padding: 0;
  }

  .acc-type {
    display: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.9);
    z-index: 200;
    top: 0;
    right: 0;
    padding: 2rem;
    font-size: 0.9rem;

    .form-group {
      margin: 0;
      padding: 0;
    }
  }
}
@media (min-width: 767px) {
  .header {
    .profile-img {
      border: 1px solid;
    }

    .logo-cont {
      margin-top: 1rem;
      margin-bottom: 6rem;
    }
  }
}

.main-nav {
  border-bottom: 1px solid;
  padding: 1rem 0.5rem;
  ul {
    width: 95vw;
    margin: auto;
    display: flex;
    overflow: auto;
    justify-content: space-around;
    align-items: center;

    li {
      a {
        display: inline-block;
        border: 1px solid;
        padding: 0.2rem 0.5rem;
        margin: 0 0.6rem;
        border-radius: 10px;
        padding: 0.1rem 1.5rem;
        cursor: pointer;
        color: inherit;
      }
    }
  }
}
@media (max-width: 766px) {
  body {
    padding: 0;
  }
  .profile-img {
    img {
      height: 40%;
    }
  }
  .main-nav {
    ul {
      padding-left: 13rem;
      width: 90vw;
      li {
        border: none;
      }
    }
  }

  .recent-transaction {
    ul {
      display: flex;
      width: 88vw;
      overflow: auto;
      a {
        display: flex;
        margin: 0;
        margin-bottom: 1rem;
        padding: 0 1rem;
      }
    }
  }
}

.tips {
  ul {
    list-style-type: disc;

    li {
      margin-left: 1rem;
    }
  }
}

// notification
.notification-bell {
  position: fixed;
  top: 0;
  right: 1rem;
  z-index: 999999999;
  background: rgba(0, 0, 0, 0.4);
}

.notification {
  display: none;
  position: fixed;
  top: 5.5vh;
  right: 1rem;
  padding: 1rem auto;
  z-index: 99999999;
  background: linear-gradient(45deg, #83776a, #0f547f);
  color: white;
  box-shadow: 0px 8px 20px 2px #294a5d;
  width: 30%;
}
