{% extends "bank/layout.html" %}
{% load static %}

{% block customStyle %}
<link rel="stylesheet" href="/static/bank/css/index.css">
{% endblock %}

{% block customJs %}
<script src="/static/bank/js/index.js"></script>
{% endblock %}

{% block body %}

  <div class="exp-catg" style="padding-left: 1rem;">
    <h3>Expenses Category </h3>
    <hr />
    <ul>
      <a style="border: 1px solid rgb(184, 17, 134); color: rgb(184, 17, 134);" href="#category1"
        onclick="expandCatg('properties')">Properties</a>
      <a style="border: 1px solid rgb(17, 184, 170); color: rgb(17, 184, 170);" href="#category2"
        onclick="expandCatg('investment')">Investment</a>
      <a style="border: 1px solid rgb(184, 181, 17); color: rgb(184, 181, 17);" href="#category3"
        onclick="expandCatg('food')">Food</a>
      <a style="border: 1px solid rgb(17, 184, 128); color: rgb(17, 184, 128);" href="#category4"
        onclick="expandCatg('shelter')">Shelter</a>
      <a style="border: 1px solid rgb(184, 64, 17); color: rgb(184, 64, 17);" href="#category5"
        onclick="expandCatg('miscellaneous')">Miscellaneous</a>
    </ul>
  </div>
  <!-- exp-catg -->

  <div class="graph">
    <div class="pie-chart-cont">
      <center>
        <h2>Analysis</h2>
      </center>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-md-8">
            <div id="piechart" style="width: 100%; height: 400px;"></div>
          </div>
          <div class="col-12 col-md-4">
            <div class="pieSummary">
              <center>
                <h4>Summary</h4>
              </center>
              <div>
                <div style=" padding: 0 .5rem; color: white!important;">
                  <div>You have spent:</div>
                  <div>NGN: <b id="Np"></b> on <b>Properties</b></div>
                  <div>NGN: <b id="Ni"></b> on <b>Investment</b></div>
                  <div>NGN: <b id="Nf"></b> on <b>Food</b></div>
                  <div>NGN: <b id="Ns"></b> on <b>Shelter</b></div>
                  <div>NGN: <b id="Nm"></b> on <b>Mesellaneus</b></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- pie chart -->
    </div>
  </div>
  <br>
  <!-- graph -->

  <div class="catg-summary">
    <h3>Category Summary</h3>
    <hr />
    <div class="catg1" id="category1">
      <div class="d-flex justify-content-between">
        <h5 style="width: 95%; padding: .5rem; border: 1px solid rgb(184, 17, 134); color: rgb(184, 17, 134);">
          Properties</h5>
        <div style="font-size: 1.5rem; z-index: 10; cursor: pointer;" class="catg-sum-caret">
          <i class="fa fa-caret-right crproperties" aria-hidden="true" onclick="expandCatg('properties')"></i>
          <i class="fa fa-caret-down cdproperties" aria-hidden="true" onclick="compressCatg('properties')"></i>
        </div>
      </div>

      <table class="table">
        <tbody class="catgSumBox" id="properties">

          <!-- row 1 -->

        </tbody>
      </table>
    </div>
    <!-- category 1 -->

    <div class="catg2" id="category2">
      <div class="d-flex justify-content-between">
        <h5 style="width: 95%; padding: .5rem; border: 1px solid rgb(17, 184, 170); color: rgb(17, 184, 170);">
          Investment</h5>
        <div style="font-size: 1.5rem; z-index: 10; cursor: pointer;" class="catg-sum-caret">
          <i class="fa fa-caret-right crinvestment" aria-hidden="true" onclick="expandCatg('investment')"></i>
          <i class="fa fa-caret-down cdinvestment" aria-hidden="true" onclick="compressCatg('investment')"></i>
        </div>
      </div>

      <table class="table">
        <tbody class="catgSumBox" id="investment"></tbody>
      </table>
    </div>
    <!-- category 2 -->

    <div class="catg3" id="category3">
      <div class="d-flex justify-content-between">
        <h5 style="width: 95%; padding: .5rem; border: 1px solid rgb(184, 181, 17); color: rgb(184, 181, 17);">Food</h5>
        <div style="font-size: 1.5rem; z-index: 10; cursor: pointer;" class="catg-sum-caret">
          <i class="fa fa-caret-right crfood" aria-hidden="true" onclick="expandCatg('food')"></i>
          <i class="fa fa-caret-down cdfood" aria-hidden="true" onclick="compressCatg('food')"></i>
        </div>
      </div>

      <table class="table">
        <tbody class="catgSumBox" id="food"></tbody>
      </table>
    </div>
    <!-- category 3 -->

    <div class="catg4" id="category4">
      <div class="d-flex justify-content-between">
        <h5 style="width: 95%; padding: .5rem; border: 1px solid rgb(17, 184, 128); color: rgb(17, 184, 128);">Shelter
        </h5>
        <div style="font-size: 1.5rem; z-index: 10; cursor: pointer;" class="catg-sum-caret">
          <i class="fa fa-caret-right crshelter" aria-hidden="true" onclick="expandCatg('shelter')"></i>
          <i class="fa fa-caret-down cdshelter" aria-hidden="true" onclick="compressCatg('shelter')"></i>
        </div>
      </div>

      <table class="table">
        <tbody class="catgSumBox" id="shelter"></tbody>
      </table>
    </div>
    <!-- category 4 -->

    <div class="catg5" id="category5">
      <div class="d-flex justify-content-between">
        <h5 style="width: 95%; padding: .5rem; border: 1px solid rgb(184, 64, 17); color: rgb(184, 64, 17);">
          Miscellaneous</h5>
        <div style="font-size: 1.5rem; z-index: 10; cursor: pointer;" class="catg-sum-caret">
          <i class="fa fa-caret-right crmiscellaneous" aria-hidden="true" onclick="expandCatg('miscellaneous')"></i>
          <i class="fa fa-caret-down cdmiscellaneous" aria-hidden="true" onclick="compressCatg('miscellaneous')"></i>
        </div>
      </div>

      <table class="table">
        <tbody class="catgSumBox" id="miscellaneous"></tbody>
      </table>
    </div>
    <!-- category 5 -->

  </div>
  <br />
  <br />
  <!-- catg summery -->

  <div class="tips">
    <h3>Tips</h3>
    <hr />
    <ul>
      <li>
        <p>
          jndodno hs hs hsishd usgeie shsir sisis susisjeid eue sue eu cyduehr dud eucuri orjr
          jndodno hs hs hsishd usgeie shsir sisis susisjeid eue sue eu cyduehr dud eucuri orjr
        </p>
      </li>
      <li>
        <p>
          jndodno hs hs hsishd usgeie shsir sisis susisjeid eue sue eu cyduehr dud eucuri orjr
          jndodno hs hs hsishd usgeie shsir sisis susisjeid eue sue eu cyduehr dud eucuri orjr
        </p>
      </li>
    </ul>
  </div>
  <!-- Tips -->
<!-- main -->

{% endblock %}