{% load static %}

<!doctype html>
<html lang="en">

<head>
  <title>3NITY BANK NIG. PLC</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'bank/css/layout.css' %}">
  {% block customStyle %}{% endblock %}
</head>

<body>

  {% for account in account %}
  <header>
    <div class="container-fluid">
      <div class="row">
        <div onclick="getPage('profile')" title="Profile Page" class="col-2 profile-img" style="cursor: pointer;">
          <img src="{% static 'bank/images/IMG_20200627_181056.jpg' %}" width="100%" height="100%" alt="profile image">
        </div>

        <div class="col-10 header">
          <center>
            <h1 class="ptitle" style="margin-bottom: 1rem;">3NITY BANK NIG. PLC</h1>
            <span onclick="getPage('profile')" title="Profile Page" style="cursor: pointer;">Welcome, <b>{{ account.customer.lname }} {{ account.customer.fname }}</b></span>
            <div onclick="showAccs()" style="cursor: pointer;" title="change Account">
              <b style="display: inline;">Account: {{ account.accountNum }} ({{ account.accountType }})</b>
              <span class="fa fa-caret-down"></span>
            </div>
            <div>
              <div class="acc-type">
                <center><a href="">
                    <div class="btn-sm btn-danger">
                      close
                    </div>
                  </a></center>
                <br>
                <form action="/getAccount" method="post">
                  {% csrf_token %}
                  <div class="form-group">
                    <label for="account" style="z-index: -1;">Account: 3134513226 (Savings) </label>
                    <input type="radio" name="account" value="3134513226" style="z-index: 2;">
                  </div>
                  <div class="form-group">
                    <label for="account">Account: 2980594094 (Current) </label>
                    <input type="radio" name="account" value="2980594094">
                  </div>
                  <div class="form-group">
                    <label for="account">Account: 2980594094 (Savings) </label>
                    <input type="radio" name="account" value="9489544444">
                  </div>
                  <div class="form-group">
                    <label for="account">Account: 2980594094 (Current) </label>
                    <input type="radio" name="account" value="9489488874">
                  </div>
                  <input type="submit" value="Switch" class="form-control"
                    style="background: rgb(17,184,128); color: white;">
                </form>
              </div>
            </div>
            <div>
              <span>Acc. bal. <b>N <span>{{ account.balance }}</span> K</b></span>
            </div>
            <div id="pdToggle" style="margin-top: 1rem;">
              <a href="/logout" style="color:white; padding: 0 .3rem; border:1px solid; font-size: 1rem;">
                <i class="fa fa-arrow-left"></i>
                <span>Logout </span>
              </a>
            </div>
          </center>
        </div>

      </div>
    </div>
  </header>
  <!-- header -->

  <div class="col-12 main-nav">
    <ul>
      <li>
        <a href="#main-body" onclick="mainNav('transfer')">
          <center><i class="fa fa-money" aria-hidden="true"></i>
            <div>
              Transfer
            </div>
          </center>
        </a>
      </li>
      <li>
        <a href="#main-body" onclick="mainNav('airtime')">
          <center><i class="fa fa-mobile" aria-hidden="true"></i>
            <div class="d-flex justify-content-center align-items-center">
              Airtime<i class="fa fa-caret-down" aria-hidden="true"></i>
            </div>
          </center>
        </a>
      </li>
      <li>
        <a href="#main-body" onclick="mainNav('bills')">
          <center><i class="fa fa-paper-plane" aria-hidden="true"></i>
            <div>
              Pay&nbsp;Bills
            </div>
          </center>
        </a>
      </li>
      <li>
        <a href="#main-body" onclick="mainNav('cheque')">
          <center><i class="fa fa-money" aria-hidden="true"></i>
            <div>
              Claim&nbsp;Cheque
            </div>
          </center>
        </a>
      </li>
    </ul>
  </div>
  <br>
  <!-- main-nav -->

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9" id="main-body">
        {% block body %}
        {% endblock %}
      </div>
      <div class="col-md-3 sidebar">
        <center>
          <div class="acc-magr">
            <div class="magr-img" style="margin-right: .5rem;">
              <img src="{% static 'bank/images/IMG_20200627_181056.jpg' %}"
                style="width: 10rem; height: 10rem; border-radius: 50%;" alt="">
            </div>
            <caption>
              <h5>Account Manager</h5>
              <p>
                <span>{{ account.customer.manager.fullName }} <i class="fa fa-user" aria-hidden="true"></i></span>
              </p>
              <p style="font-size: .7rem;">
                <a href="wa.me:+234 8112 659 304">{{ account.customer.manager.whatsappNum }} <i class="fa fa-whatsapp"
                    aria-hidden="true"></i></a>
              </p>
              <p style="font-size: .7rem;">
                <a href="mailto:paulinnocent04@gmail.com">{{ account.customer.manager.email }} <i class="fa fa-envelope"
                    aria-hidden="true"></i></a>
              </p>
            </caption>
          </div>
          <hr>
          <br>
          <br>
          <!-- account manager -->

          <div class="ads-cont">
            <div class="ads-header">
              <small>Ads</small>
              <div>
                <span style="cursor: pointer;">!</span>&nbsp;&nbsp;&nbsp;
                <span style="cursor: pointer;"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
              </div>
            </div>
            <hr style="margin: 0; padding: 0;">
            <div class="ads-body">
              <h1>
                <p>
                  How to grow your purse within 3 months
                </p>
              </h1>
            </div>
          </div>
          <br>
          <br>
          <!-- adds 1 -->

          <div class="ads-cont">
            <div class="ads-header">
              <small>Ads</small>
              <div>
                <span style="cursor: pointer;">!</span>&nbsp;&nbsp;&nbsp;
                <span style="cursor: pointer;"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
              </div>
            </div>
            <hr style="margin: 0; padding: 0;">
            <div class="ads-body">
              <h1>
                <p>
                  How to grow your purse within 3 months
                </p>
              </h1>
            </div>
          </div>
          <br>
          <br>
          <!-- adds 2 -->

          <div class="ads-cont">
            <div class="ads-header">
              <small>Ads</small>
              <div>
                <span style="cursor: pointer;">!</span>&nbsp;&nbsp;&nbsp;
                <span style="cursor: pointer;"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
              </div>
            </div>
            <hr style="margin: 0; padding: 0;">
            <div class="ads-body">
              <h1>
                <p>
                  How to grow your purse within 3 months
                </p>
              </h1>
            </div>
          </div>
          <br>
          <br>
          <!-- adds  -->
          <hr>
        </center>
      </div>
      <!-- sidebar -->
    </div>
  </div>
  <!-- main page -->


  <div class="" id="footer">
    footer (follow us and newsletter
  </div>
  <!-- footer -->

  <div class="col-12 col-md-1 left-sidebar" style="border: 1px solid; display: none;">
    <ul>
      <li><a href="">
          <center>
            <div>
              <i class="fa fa-home" aria-hidden="true"></i>
            </div>
            Home
          </center>
        </a></li>
      <li>
        <center>
          <div>
            <i class="fa fa-user" aria-hidden="true"></i>
          </div>
          Profile
        </center>
      </li>
      <li>
        <center>
          <div>
            <i class="fa fa-share" aria-hidden="true"></i>
          </div>
          Refer
        </center>
      </li>
      <li>
        <center>
          <div>
            <i class="fa fa-money" aria-hidden="true"></i>
          </div>
          Loan
        </center>
      </li>
      <li>
        <center>
          <div>
            <i class="fa fa-star" aria-hidden="true"></i>
          </div>
          <small>Investor Relation</small>
        </center>
      </li>
      <li>
        <center>
          <div>
            <i class="fa fa-phone" aria-hidden="true"></i>
          </div>
          Contact Us
        </center>
      </li>
      <li>
        <center>
          <div>
            <i class="fa fa-users" aria-hidden="true"></i>
          </div>
          About us
        </center>
      </li>
      <li>
        <center>
          <div>
            <i class="fa fa-gear" aria-hidden="true"></i>
          </div>
          Settings
        </center>
      </li>
      <li>
        <center><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Logout</center>
      </li>
    </ul>
  </div>

  {% endfor %}

  <div id="customCss"></div>
  <div id="customJs"></div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="{% static 'bank/js/layout.js' %}"></script>
  {% block customJs %}{% endblock %}
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>