{% load static %}

<!doctype html>
<html lang="en">

<head>
    <title>3NITY BANK NIG LTD</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- custom css -->
    <link rel="stylesheet" href="{% static 'bank/css/staff.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anton&display=swap">
</head>

<body style="width: 100vw; padding-right: 5%; overflow-x: hidden;">
    <header>
        <div class="container-fluid">
            <div class="row" style="margin-right: -35px; margin-left: -35px;">
                <div title="Profile Page" class="col-2 profile-img" style="cursor: pointer;">
                    <img src="{% static 'bank/images/IMG_20200627_181056.jpg' %}" width="100%" height="100%"
                        alt="profile image">
                </div>

                <div class="col-10 header">
                    <center>
                        <h1 class="ptitle" style="margin-bottom: 1rem;">3NITY BANK NIG. PLC</h1>
                        <div title="Profile Page" style="cursor: pointer;">Welcome, <b>{{ staff }}</b></div>
                        <div>ID: <b>{{ staff.id }}</b></div>
                        <div>Total Customers: <b>{{ staff.totalCustomer }}</b></div>
                        <div id="pdToggle" style="margin-top: 1rem;">
                            <a href="/logout" style="color:black; padding: 0 .3rem; border:1px solid black; font-size: 1rem;">
                                <i class="fa fa-arrow-left"></i>
                                <span>Logout </span>
                            </a>
                        </div>
                    </center>
                </div>

            </div>
        </div>
    </header>
    <!-- header -->
    <hr>

    <div class="search">
        <form action="" method="GET" id="searchCustomer">
            <div class="form-group d-flex justify-content-center align-items-center">
                <input type="search" placeholder="Search for customer by Account Number"
                    style="border-radius: 30px; outline: none; padding: .3rem 1rem;" name="q" id="search-customer"
                    class="form-control">
                &nbsp;&nbsp;
                <button type="submit" style="border: none; background: none;"><i class="fa fa-search"
                        style="color: rgb(0, 0, 0);" aria-hidden="true"></i></button>
            </div>
        </form>
        <div class="" id="err-msg">
            <div class="err">{{error}}</div>
            <div class="close">
                <i onclick="closeErr()" class="{{closeErr}}"></i></div>
        </div>
    </div>
    <!-- search -->

    <main>
        <div class="container-fluid">
            {% for customer in customers %}
            <div class="ul-wrapper" id="main-body" style="height:40vh; overflow-y: hidden;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3">
                            <span style="color: black;" id="user" data-user="{{ customer }}"
                                data-fname="{{ customer.fname }}">
                                <h4>{{ customer.lname }} {{ customer.fname }}</h4>
                            </span>
                            <br>
                            <div onclick="modify('show', '{{ customer.fname }}', '{{ customer.tel }}', '{{ customer }}')"
                                id="menu-btn{{ customer.fname }}" class="btn btn-primary" style="display: block;"><i
                                    class="fa fa-bars" aria-hidden="true"></i></div>
                            <div onclick="modify('hide', '{{ customer.fname }}', '{{ customer.tel }}', '{{ customer }}')"
                                id="close-menu-btn{{ customer.fname }}" class="btn btn-danger" style="display: none;"><i
                                    class="fa fa-window-close" aria-hidden="true"></i></div>

                            <div class="menu" id="{{ customer.fname }}"></div>
                        </div>
                        <div id="details{{ customer.fname }}" class="col-md-9 detail-main" style="height:40vh; overflow-y: auto;"></div>
                    </div>
                </div>
                <br>
            </div>
            <hr>
            <br>
            {% empty %}
            <center>
                <h1>No Customers Yet</h1>
            </center>
            {% endfor %}
        </div>
    </main>

    <!-- Acct. Summary -->
    <div class="modal-main" id="acctSummary">
        <div class="acctSummary">
            <div class="modal-header">
                <div>
                    <h3>Account Summary</h3>
                </div>
                <!-- <div class="close"><a style="color: white;" href=""><i class="fa fa-window-close"
                        aria-hidden="true"></i></a></div> -->
                <div onclick="accSummary('none')" class="close" style="color: white;"><i class="fa fa-window-close"
                        aria-hidden="true"></i></div>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12" style="font-size: 1.5rem;">
                            <center>
                                Totoal Income - <b>NGN <span id="total-income"></span></b>
                            </center>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6" style="font-size: 1.2rem;">
                            <div class="row exp-wrapper">
                                <div class="col-6">Properties</div>
                                <div class="col-6">
                                    NGN <span id="amountProperties"></span>
                                </div>
                            </div>
                            <div class="row exp-wrapper">
                                <div class="col-6">Investment</div>
                                <div class="col-6">
                                    NGN <span id="amountInvestment"></span>
                                </div>
                            </div>
                            <div class="row exp-wrapper">
                                <div class="col-6">Food</div>
                                <div class="col-6">
                                    NGN <span id="amountFood"></span>
                                </div>
                            </div>
                            <div class="row exp-wrapper">
                                <div class="col-6">Shelter</div>
                                <div class="col-6">
                                    NGN <span id="amountShelter"></span>
                                </div>
                            </div>
                            <div class="row exp-wrapper">
                                <div class="col-6">Miscellaneous</div>
                                <div class="col-6">
                                    NGN <span id="amountMiscellaneous"></span>
                                </div>
                            </div>
                            <div class="row exp-wrapper">
                                <div id="expCatgTotal" class="d-none"></div>
                                <div>Total Expenditure: <b>NGN <span id="total-expenditure"></span></b></div>
                                <div id="excess-wrapper"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h3>
                                <center>Summary</center>
                            </h3>
                            <div id="msg"></div>
                            
                            <script>
                              $(".alert").alert();
                            </script>
                            <form action="" method="post" id="summaryForm">
                                <input type="hidden" name="user" value="" id="summaryUser">
                                <div class="form-group">
                                    <label for="accSummary">Account summary</label>
                                    <textarea type="text" name="accSummary" id="summaryTextarea" class="form-control"
                                        aria-describedby="accSummary"
                                        style="height: 12rem; opacity: .9; margin: 0; padding: .2rem;"></textarea>
                                    <input type="submit" value="Update" class="btn btn-success mt-2">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="{% static 'bank/js/staff.js' %}"></script>
</body>

</html>